*{
    margin: 10;
    padding: 0;
    font-family: Times new Roman;
    background-color: palegreen;
}
select {
    background-color: white;
    font-size: 15px;
}
label{
    display: block;
    margin: 10 0 0 0 ;
}
img{
    width: 200px;
    height: 100px;
    background-color: inherit;
}

section {
    padding: 6em 0;
}

h1{
    text-align: center;
    color: white;
    background-color: inherit;
}

h2 {
    font-size: 20px;
    color: white;
    background-color: inherit;
}

h3 {
    color: #000;
}

p {
    color: lightskyblue;
    background-color: inherit;

}

a {
    background-color: inherit;
    text-decoration: none;
    color: white;
    display: inline-block;
}

input{
    opacity: 0.6;
    background-color: mediumturquoise;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}
input:focus, input:hover{
    opacity: 1;
}

input[type=checkbox]{
    opacity: 1;
    display: inline;
}

table{
    border-collapse: collapse;
}
tr, td{
    text-align: center;
    padding: 5px;
    border: 2px solid olive;
}

.figura{
    width: 200px;
    height: 200px;
}

.encabezado{
    background: teal;
    color: white;
}

.Actividad {
    display: inline-block;
    text-align: center;
    border: solid 2px #000;
    padding: 10px;
    width: 21%;
    background-color: darkcyan;
    margin: 0;
    vertical-align: middle;
    padding: 20px;
}

.Actividad:hover{
    background-color: cadetblue;
}

.primero{
    margin-left: 10%;
    width: 80%;
    border-radius: 8px;
    background-color: mediumpurple;
    text-align: center;
    padding: 20px;
}

.segundo{
    margin-left: 10%;
    width: 80%;
    border-radius: 8px;
    background-color: mediumorchid;
    text-align: center;
    padding: 20px;
}