﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="ConsumirServicio.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:TextBox ID="Diferencia" runat="server"></asp:TextBox>
        <asp:Button ID="Boton" runat="server" Text="Calcular" OnClick="Boton_Click1"/>
        <asp:Label ID="Resultado" runat="server"></asp:Label>
    </form>
</body>
</html>
